@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
  font-family: 'Raleway', sans-serif;

}

.scrollbar {
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  
  .scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
  }